<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthware.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.healthware.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="selectByPhone" resultType="com.healthware.entity.User">
        SELECT * FROM user WHERE phone = #{phone}
    </select>

    <update id="updateLoginFailCount">
        UPDATE user SET login_fail_count = #{count} WHERE id = #{id}
    </update>

    <update id="unlockUser">
        UPDATE user SET status = 1, login_fail_count = 0, lock_time = NULL WHERE id = #{id}
    </update>

    <select id="selectLockedUsersBefore" resultType="com.healthware.entity.User">
        SELECT * FROM user WHERE status = 0 AND lock_time IS NOT NULL AND lock_time &lt; #{dateTime}
    </select>

</mapper>
